In [1]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [2]:
# 1. What is the length of the salaries list.

len(salaries)

7

In [3]:
# 2. Retrieve the third salary in the list by using index.

salaries[2]

'50k'

In [4]:
# 3. Extract the last salary from the list by using a negative index.

salaries[-1]

'40k'

In [5]:
# 4. Slice the salaries list to get only the middle three salaries.

salaries[2:5]

['50k', '60k', '35k']

In [6]:
# 5. Add a new salary to the list, ‘100k’ by using append() method.

salaries.append('100k')
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [14]:
# 5. Add a new salary to the list, ‘120k’ without method.

salaries += ['120k']

In [16]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

In [18]:
# 6. Replace the third salary in the list with '55k' and print the updated list.

salaries[2] = '55k'
salaries

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [20]:
# 7. Count how many times '40k' appears in the list.

salaries.count('40k')

2

In [22]:
# 8. Insert a new salary at the second position.

salaries.insert(1, '25k')

In [24]:
salaries

['20k', '25k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [26]:
# 9. Reverse the order of the salaries list with method.

salaries.reverse()

In [28]:
salaries

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '25k', '20k']

In [32]:
# 10. Reverse the order of the salaries list without method.

reversed_salaries = salaries[::-1]
reversed_salaries

['20k', '25k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']